<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./NugetPackages" />
  </config>
  <packageSources>
    <add key="default" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/SkiljaGmbH/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%NUGET_GITHUB_USER%" />
      <add key="ClearTextPassword" value="%NUGET_GITHUB_PAT%" />
    </github>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="default">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="STG.*" />
      <package pattern="Stelvio.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
